#todo-container {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#new-task {
    width: 75%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.4s ease;
}

#add-task {
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 16px;
    padding-right: 16px; 
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

#task-list {
    list-style-type: none;
    padding: none;
    margin: none;
    margin-top: auto;
}

.li {
    padding: 10px;
    background-color: blanchedalmond;
    margin-bottom: auto;
    border-radius: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}